<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [opened]="false">
    <nav class="mat-nav-list">
      <button mat-button routerLink="/landing" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-button routerLink="/yordicoinGames" (click)="sidenav.close()">
        <mat-icon>casino</mat-icon>
        Yordicoin Games
      </button>
      <button mat-button routerLink="/userProfile" (click)="sidenav.close()">
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-button routerLink="/settings" (click)="sidenav.close()">
        <mat-icon>settings</mat-icon>
        Settings
      </button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>