<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title style="margin-bottom: 10px;">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="email?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="password?.hasError('required')">
          Password is required
        </mat-error>

      </mat-form-field>
      <mat-error *ngIf="loginForm.hasError('failedLogin')" style="margin-top: 10px; display: flex; justify-content: flex-end;">
        Email or password is incorrect
      </mat-error>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
          Login
        </button>
        <button mat-raised-button color="accent" type="button" routerLink="/">
          Cancel
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>